.affiliation{
    padding-top: 50px;
    height: 250px;
    background-color: rgb(34, 28, 36);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    position: relative;
}

.affiliation-title{
    position: absolute;
    font-weight: 200;
    top: 20px;
    width: 100%;
    text-align: center;
    color: #fff;
    letter-spacing: 5px;
}

.affiliation-grid {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    color: #A9A9A9;
}
.affiliation-grid p{
    margin-top: 10px;
}

.affiliation-scroll-left{
    align-self: center;
    opacity: 0;
}

.affiliation-scroll-right{
    align-self: center;
    opacity: 0;
    animation: fadeOut 0.5s forwards;

}


.affiliation:hover 
.affiliation-scroll-left, 
.affiliation:hover .affiliation-scroll-right {
    animation: fadeIn 0.5s forwards;
    cursor: pointer;
}

.affiliation 
.affiliation-company:last-child{
    display: none;
}

/*=== Animation ===*/
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

/*=== Responsiveness ===*/
@media only screen and (max-width: 768px) {
    .affiliation{
        height: max-content;
    }

    .affiliation-grid{
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        text-align: center;
    }
    .affiliation-company{
        display: block !important;
    }
    .affiliation-scroll-left,
    .affiliation-scroll-right {
        display: none;
    }
}