.alertbox {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dddddd;
  z-index: 1500;
  border-radius: 5px;
  box-shadow: 1px 16px 11px -10px #000000;
  animation: travelDown 0.5s forwards;
}

.close-icon {
  width: 100%;
  text-align: end;
  margin-bottom: 5;
}
.alertbox p {
  padding-left: 20px;
  padding-right: 20px;
}

@keyframes travelDown {
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}
