.custom-button{
    color: #fff;
    font-weight: 700;
    width:  150px;
    border: 2px solid #fff;
    font-size: 15px;
    line-height: 20px;
    padding: 15px 30px;
    box-shadow: 5px 5px 30px rgba(48,95,129,0.15) !important;
    cursor: pointer;
    text-align: center;
    transition: all 2s ease;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background: linear-gradient(to left, #000 50%, #fff 50%) right;
    background-size: 200%;
    transition:  all 1s ease;
}

.custom-button a{
    text-decoration: none !important;
    color: #fff !important;
    transition: color 0.7s ease;
}

.custom-button:hover{
    background-position: left;
}

.custom-button:hover a{
    color: #000 !important;
}