.notification {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    width: 200px;
    position: absolute;
    top: 85vh;
    right: 10px;
    animation: fadeIn 0.5s forwards;
    opacity: 0;
    z-index: 25000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification p {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
}

/*=== Animation ===*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}



