@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
.speed{
    animation: fadeIn forwards 2.5s;
    height: 100vh;
    overflow: hidden;
}

.speed-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    top: 250px;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #fff;
}

.speed-text .quote{
    padding-left: 50px;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
